*{
	font-family: 'Bebas Neue', cursive;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* begin header section */
header{
	display:flex;
	justify-content: space-between;
	letter-spacing: 0.2rem;
	padding:1rem;
}

header a{
	text-decoration:none;
	color: black;
}

/*header>div{
	border:1px solid red;
}*/

.header-left{
	flex-basis: 35%;
}

.header-right{
	flex-basis: 35%;
	text-align:right;
}

.header-middle{
	text-align:center;
	flex-basis: 30%;
}

.header-middle img{
	width:300px;
}

/* end header section */

/* begin main nav */
nav{
	display:flex;
	justify-content: center;
	background-color:#000066;
	padding:1.2rem 0;
	letter-spacing: 0.2rem;
	position:fixed;
}

nav a{
	color:white;
	margin: 0 2rem;
	font-weight:bold;
	text-decoration:none;
	transition: color 0.5s;
}

nav a:hover{
	color: red;
}
/* end main nav */